In [1]:
import os
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,classification_report

In [2]:
pd.set_option('display.max_columns',25)

In [3]:
credit_data = pd.read_csv("C:/Users/I_am_AlexX/Downloads/german.data",sep=' ',names=["Estado_de_la_cuenta_de_cheques_existente","Duración_en_meses","Historial_de_crédito","Propósito","Monto_de_crédito","Cuenta_de_ahorros","Empleo_actual_desde","Tasa_de_cuota_en_porcentaje_del_ingreso_disponible","Estado_personal_y_sexo","Otros_deudores","Residencia_actual_desde","Propiedad","Edad_en_años","Otros_planes_de_cuotas","Alojamiento","Número_de_créditos_existentes_en_este_banco","Trabajo","Número_de_personas_que_están_obligadas_a_proporcionar_alimentos_a","Teléfono","Trabajador_extranjero","Clase"])

In [4]:
credit_data.head()

,Estado_de_la_cuenta_de_cheques_existente,Duración_en_meses,Historial_de_crédito,Propósito,Monto_de_crédito,Cuenta_de_ahorros,Empleo_actual_desde,Tasa_de_cuota_en_porcentaje_del_ingreso_disponible,Estado_personal_y_sexo,Otros_deudores,Residencia_actual_desde,Propiedad,Edad_en_años,Otros_planes_de_cuotas,Alojamiento,Número_de_créditos_existentes_en_este_banco,Trabajo,Número_de_personas_que_están_obligadas_a_proporcionar_alimentos_a,Teléfono,Trabajador_extranjero,Clase
0,A11,6,A34,A43,1169,A65,A75,4,A93,A101,4,A121,67,A143,A152,2,A173,1,A192,A201,1
1,A12,48,A32,A43,5951,A61,A73,2,A92,A101,2,A121,22,A143,A152,1,A173,1,A191,A201,2
2,A14,12,A34,A46,2096,A61,A74,2,A93,A101,3,A121,49,A143,A152,1,A172,2,A191,A201,1
3,A11,42,A32,A42,7882,A61,A74,2,A93,A103,4,A122,45,A143,A153,1,A173,2,A191,A201,1
4,A11,24,A33,A40,4870,A61,A73,3,A93,A101,4,A124,53,A143,A153,2,A173,2,A191,A201,2

In [5]:
credit_data.shape

(1000, 21)

In [6]:
credit_data['Clase'] = credit_data['Clase']-1

In [7]:
credit_data['Clase']

0      0
1      1
2      0
3      0
4      1
      ..
995    0
996    0
997    0
998    1
999    0
Name: Clase, Length: 1000, dtype: int64

In [8]:
credit_data.head()

,Estado_de_la_cuenta_de_cheques_existente,Duración_en_meses,Historial_de_crédito,Propósito,Monto_de_crédito,Cuenta_de_ahorros,Empleo_actual_desde,Tasa_de_cuota_en_porcentaje_del_ingreso_disponible,Estado_personal_y_sexo,Otros_deudores,Residencia_actual_desde,Propiedad,Edad_en_años,Otros_planes_de_cuotas,Alojamiento,Número_de_créditos_existentes_en_este_banco,Trabajo,Número_de_personas_que_están_obligadas_a_proporcionar_alimentos_a,Teléfono,Trabajador_extranjero,Clase
0,A11,6,A34,A43,1169,A65,A75,4,A93,A101,4,A121,67,A143,A152,2,A173,1,A192,A201,0
1,A12,48,A32,A43,5951,A61,A73,2,A92,A101,2,A121,22,A143,A152,1,A173,1,A191,A201,1
2,A14,12,A34,A46,2096,A61,A74,2,A93,A101,3,A121,49,A143,A152,1,A172,2,A191,A201,0
3,A11,42,A32,A42,7882,A61,A74,2,A93,A103,4,A122,45,A143,A153,1,A173,2,A191,A201,0
4,A11,24,A33,A40,4870,A61,A73,3,A93,A101,4,A124,53,A143,A153,2,A173,2,A191,A201,1

In [9]:
#credit_data.groupby(["Historial_de_crédito"]).count()

In [10]:
credit_data.groupby(["Historial_de_crédito"])['Clase'].agg(['count','sum'])

                      count  sum
Historial_de_crédito
A30                      40   25
A31                      49   28
A32                     530  169
A33                      88   28
A34                     293   50

In [11]:
#credit_data.groupby(['Historial_de_crédito']).sum()

In [12]:
credit_data.groupby(['Historial_de_crédito']).count()

,Estado_de_la_cuenta_de_cheques_existente,Duración_en_meses,Propósito,Monto_de_crédito,Cuenta_de_ahorros,Empleo_actual_desde,Tasa_de_cuota_en_porcentaje_del_ingreso_disponible,Estado_personal_y_sexo,Otros_deudores,Residencia_actual_desde,Propiedad,Edad_en_años,Otros_planes_de_cuotas,Alojamiento,Número_de_créditos_existentes_en_este_banco,Trabajo,Número_de_personas_que_están_obligadas_a_proporcionar_alimentos_a,Teléfono,Trabajador_extranjero,Clase
Historial_de_crédito,,,,,,,,,,,,,,,,,,,,
A30,40,40,40,40,40,40,40,40,40,40,40,40,40,40,40,40,40,40,40,40
A31,49,49,49,49,49,49,49,49,49,49,49,49,49,49,49,49,49,49,49,49
A32,530,530,530,530,530,530,530,530,530,530,530,530,530,530,530,530,530,530,530,530
A33,88,88,88,88,88,88,88,88,88,88,88,88,88,88,88,88,88,88,88,88
A34,293,293,293,293,293,293,293,293,293,293,293,293,293,293,293,293,293,293,293,293

In [13]:
#credit_data.groupby(['Historial_de_crédito'])["Clase"].mean()

In [14]:
#credit_data.groupby(['Historial_de_crédito'])["Clase"].count()

In [15]:
#credit_data.groupby(['Historial_de_crédito'])["Clase"].sum()

In [16]:
# El valor de la variable de clase "1" indica incumplimiento y "0" describe no incumplimiento

# Si el tipo de datos es objeto, esto significa que es una variable categórica y cualquier otra variable, como int64, etc., 
# se tratará como continua y se clasificará en 10 partes iguales (también conocidas como deciles) según corresponda.

def IV_calc(data,var):
    if data[var].dtypes == "object":
        
        dataf = data.groupby([var])['Clase'].agg(['count','sum']) #.agg--> Agregue usando una o más operaciones sobre el 
        # eje especificado. 
        # Los datos se agrupan por "var" (la variable en cuestión) mostrando sólo la columna correspondiente a la variable
        # "Clase". Y efectuando las operaciones "count" y "sum" . La primera cuenta el número de filas en el data set original 
        #que contienen alguna de las etiquetas de "Historial_de_crédito"(por ejemplo), estos son: "A30,A31,A32,A33 y A34". En cuanto a sum()
        # suma los valores que tiene cada etiqueta ya sea "0" o "1"
         
        dataf.columns = ["Total","incumplido"]
        dataf["cumplido"] = dataf["Total"] - dataf["incumplido"] # cuenta total de personas cumplidas
        
        dataf["per_incump"] = dataf["incumplido"]/dataf["incumplido"].sum() # porcentaje del total de personas incumplidas 
                                                                            # para cada Historial de crédito específico
        
        dataf["per_cump"] = dataf["cumplido"]/dataf["cumplido"].sum()       # porcentaje del total de personas cumplidas 
                                                                            # para cada Historial de crédito específico
            
        dataf["I_V"] = (dataf["per_cump"] - dataf["per_incump"])*np.log(dataf["per_cump"]/dataf["per_incump"]) # Cálculo
        
        # explícito del valor de la información o "Information Value"
                
        return dataf
    else:
        
        data['bin_var'] = pd.qcut(data[var].rank(method='first'),10) # qcut, Discretiza la variable en cubos de igual tamaño 
                                                                     # según el rango o según los cuantiles de muestra. 
                                                                     # Por ejemplo, 1000 valores para 10 cuantiles producirían 
                                                                     # un objeto categórico que indicaría la pertenencia al 
                                                                     #cuantil para cada punto de datos.
        
        
                                                                     # rank->asigna un número según el valor que tenga en 
                                                                     #la columna del menor(0) al mayor(1000)
            
        dataf = data.groupby(['bin_var'])['Clase'].agg(['count','sum']) #.agg--> Agregue usando una o más operaciones sobre el 
        # eje especificado. 
        # Los datos se agrupan por "bin_var" (es decir por cada uno de los 10 cuantiles) mostrando sólo la columna correspondiente 
        #a la variable "Clase". Y efectuando las operaciones "count" y "sum" . La primera cuenta el número de filas en el data set 
        #original que contienen alguna de las etiquetas de "bin_var", estos son: "(0.999, 100.9],(100.9, 200.8],(300.7, 400.6]
        #,etc". En cuanto a sum() suma los valores que tiene cada etiqueta ya sea "0" o "1"
        
        dataf.columns = ["Total","incumplido"] #asignando headers a las columnas
        
        dataf["cumplido"] = dataf["Total"] - dataf["incumplido"]  # cuenta total de personas cumplidas
        
        dataf["per_incump"] = dataf["incumplido"]/dataf["incumplido"].sum() # porcentaje del total de personas incumplidas 
                                                                            # para cada valor de "Duración en meses" específico
        
        dataf["per_cump"] = dataf["cumplido"]/dataf["cumplido"].sum() # porcentaje del total de personas incumplidas 
                                                                      # para cada valor de "Duración en meses" específico
            
        dataf["I_V"] = (dataf["per_cump"] - dataf["per_incump"])*np.log(dataf["per_cump"]/dataf["per_incump"]) # Cálculo
        
        # explícito del valor de la información o "Information Value"
                
                
        return dataf

## Cálculo del Information Value para 'Historial_de_crédito'

In [17]:
print(IV_calc(credit_data,'Historial_de_crédito'))

                      Total  incumplido  cumplido  per_incump  per_cump  \
Historial_de_crédito
A30                      40          25        15    0.083333  0.021429
A31                      49          28        21    0.093333  0.030000
A32                     530         169       361    0.563333  0.515714
A33                      88          28        60    0.093333  0.085714
A34                     293          50       243    0.166667  0.347143

                           I_V
Historial_de_crédito
A30                   0.084074
A31                   0.071882
A32                   0.004206
A33                   0.000649
A34                   0.132423

In [18]:
IV_calc(credit_data,'Historial_de_crédito').I_V.sum()

0.2932335473908263

## Cálculo del Information Value para 'Duración_en_meses'

In [19]:
print(IV_calc(credit_data,'Duración_en_meses'))

                 Total  incumplido  cumplido  per_incump  per_cump       I_V
bin_var
(0.999, 100.9]     100          11        89    0.036667  0.127143  0.112502
(100.9, 200.8]     100          20        80    0.066667  0.114286  0.025667
(200.8, 300.7]     100          27        73    0.090000  0.104286  0.002105
(300.7, 400.6]     100          25        75    0.083333  0.107143  0.005984
(400.6, 500.5]     100          26        74    0.086667  0.105714  0.003784
(500.5, 600.4]     100          38        62    0.126667  0.088571  0.013629
(600.4, 700.3]     100          32        68    0.106667  0.097143  0.000891
(700.3, 800.2]     100          31        69    0.103333  0.098571  0.000225
(800.2, 900.1]     100          42        58    0.140000  0.082857  0.029973
(900.1, 1000.0]    100          48        52    0.160000  0.074286  0.065765

In [20]:
IV_calc(credit_data,'Duración_en_meses').I_V.sum()

0.26052252233213913

In [21]:
#pd.qcut(credit_data['Duración_en_meses'].rank(method='first'),10)

In [22]:
#credit_data['Duración_en_meses'].rank(method='first')

In [23]:
#credit_data['Duración_en_meses']

In [24]:
#for seq in range(5):
#    print(seq)

In [25]:
#pd.qcut(range(5), 4)

In [26]:
#credit_data['bin_var'] = pd.qcut(credit_data['Duración_en_meses'].rank(method='first'),10)

credit_data['bin_var']

In [27]:
#credit_data.groupby(['bin_var'])['Clase'].agg(['count','sum'])

## Cálculo del Information Value automatizado

In [28]:
# El siguiente módulo, crea un array con las variables que deseen obtener del header
# Data Frame "data"

#Parametros: data , n 

def get_variables(data,n):
    
    header_arr = sorted(data) #obtener un array que contiene los elementos del header del DataFrame
    num_variables_extracted = range(n)
    variables = np.array(header_arr)[num_variables_extracted]
    
    return variables

In [29]:
var_arr=get_variables(credit_data,21)

In [30]:
var_arr

array(['Alojamiento', 'Clase', 'Cuenta_de_ahorros', 'Duración_en_meses',
       'Edad_en_años', 'Empleo_actual_desde',
       'Estado_de_la_cuenta_de_cheques_existente',
       'Estado_personal_y_sexo', 'Historial_de_crédito',
       'Monto_de_crédito', 'Número_de_créditos_existentes_en_este_banco',
       'Número_de_personas_que_están_obligadas_a_proporcionar_alimentos_a',
       'Otros_deudores', 'Otros_planes_de_cuotas', 'Propiedad',
       'Propósito', 'Residencia_actual_desde',
       'Tasa_de_cuota_en_porcentaje_del_ingreso_disponible', 'Teléfono',
       'Trabajador_extranjero', 'Trabajo'], dtype='<U65')

In [31]:
np.delete(var_arr,1)

array(['Alojamiento', 'Cuenta_de_ahorros', 'Duración_en_meses',
       'Edad_en_años', 'Empleo_actual_desde',
       'Estado_de_la_cuenta_de_cheques_existente',
       'Estado_personal_y_sexo', 'Historial_de_crédito',
       'Monto_de_crédito', 'Número_de_créditos_existentes_en_este_banco',
       'Número_de_personas_que_están_obligadas_a_proporcionar_alimentos_a',
       'Otros_deudores', 'Otros_planes_de_cuotas', 'Propiedad',
       'Propósito', 'Residencia_actual_desde',
       'Tasa_de_cuota_en_porcentaje_del_ingreso_disponible', 'Teléfono',
       'Trabajador_extranjero', 'Trabajo'], dtype='<U65')

In [32]:
def IV_calc_auto(data):
    
    arr=[]
    
    for var in np.delete(var_arr,1):
        
        IV = IV_calc(data,var)
        arr.append(IV)
    return arr

In [33]:
IV_calc_auto(credit_data)

[             Total  incumplido  cumplido  per_incump  per_cump       I_V
 Alojamiento
 A151           179          70       109    0.233333  0.155714  0.031393
 A152           713         186       527    0.620000  0.752857  0.025795
 A153           108          44        64    0.146667  0.091429  0.026106,
                    Total  incumplido  cumplido  per_incump  per_cump       I_V
 Cuenta_de_ahorros
 A61                  603         217       386    0.723333  0.551429  0.046648
 A62                  103          34        69    0.113333  0.098571  0.002060
 A63                   63          11        52    0.036667  0.074286  0.026561
 A64                   48           6        42    0.020000  0.060000  0.043944
 A65                  183          32       151    0.106667  0.215714  0.076796,
                  Total  incumplido  cumplido  per_incump  per_cump       I_V
 bin_var
 (0.999, 100.9]     100          11        89    0.036667  0.127143  0.112502
 (100.9, 200.8]     100          20        80    0.066667  0.114286  0.025667
 (200.8, 300.7]     100          27        73    0.090000  0.104286  0.002105
 (300.7, 400.6]     100          25        75    0.083333  0.107143  0.005984
 (400.6, 500.5]     100          26        74    0.086667  0.105714  0.003784
 (500.5, 600.4]     100          38        62    0.126667  0.088571  0.013629
 (600.4, 700.3]     100          32        68    0.106667  0.097143  0.000891
 (700.3, 800.2]     100          31        69    0.103333  0.098571  0.000225
 (800.2, 900.1]     100          42        58    0.140000  0.082857  0.029973
 (900.1, 1000.0]    100          48        52    0.160000  0.074286  0.065765,
                  Total  incumplido  cumplido  per_incump  per_cump       I_V
 bin_var
 (0.999, 100.9]     100          39        61    0.130000  0.087143  0.017142
 (100.9, 200.8]     100          42        58    0.140000  0.082857  0.029973
 (200.8, 300.7]     100          30        70    0.100000  0.100000  0.000000
 (300.7, 400.6]     100          35        65    0.116667  0.092857  0.005435
 (400.6, 500.5]     100          30        70    0.100000  0.100000  0.000000
 (500.5, 600.4]     100          24        76    0.080000  0.108571  0.008725
 (600.4, 700.3]     100          21        79    0.070000  0.112857  0.020470
 (700.3, 800.2]     100          29        71    0.096667  0.101429  0.000229
 (800.2, 900.1]     100          21        79    0.070000  0.112857  0.020470
 (900.1, 1000.0]    100          29        71    0.096667  0.101429  0.000229,
                      Total  incumplido  cumplido  per_incump  per_cump  \
 Empleo_actual_desde
 A71                     62          23        39    0.076667  0.055714
 A72                    172          70       102    0.233333  0.145714
 A73                    339         104       235    0.346667  0.335714
 A74                    174          39       135    0.130000  0.192857
 A75                    253          64       189    0.213333  0.270000

                           I_V
 Empleo_actual_desde
 A71                  0.006689
 A72                  0.041253
 A73                  0.000352
 A74                  0.024792
 A75                  0.013349  ,
                                           Total  incumplido  cumplido  \
 Estado_de_la_cuenta_de_cheques_existente
 A11                                         274         135       139
 A12                                         269         105       164
 A13                                          63          14        49
 A14                                         394          46       348

                                           per_incump  per_cump       I_V
 Estado_de_la_cuenta_de_cheques_existente
 A11                                         0.450000  0.198571  0.205693
 A12                                         0.350000  0.234286  0.046447
 A13                                         0.046667  0.070000  0.009461
 A14                                         0.153333  0.497143  0.404410  ,
                         Total  incumplido  cumplido  per_incump  per_cump  \
 Estado_personal_y_sexo
 A91                        50          20        30    0.066667  0.042857
 A92                       310         109       201    0.363333  0.287143
 A93                       548         146       402    0.486667  0.574286
 A94                        92          25        67    0.083333  0.095714

                              I_V
 Estado_personal_y_sexo
 A91                     0.010520
 A92                     0.017931
 A93                     0.014505
 A94                     0.001715  ,
                       Total  incumplido  cumplido  per_incump  per_cump  \
 Historial_de_crédito
 A30                      40          25        15    0.083333  0.021429
 A31                      49          28        21    0.093333  0.030000
 A32                     530         169       361    0.563333  0.515714
 A33                      88          28        60    0.093333  0.085714
 A34                     293          50       243    0.166667  0.347143

                            I_V
 Historial_de_crédito
 A30                   0.084074
 A31                   0.071882
 A32                   0.004206
 A33                   0.000649
 A34                   0.132423  ,
                  Total  incumplido  cumplido  per_incump  per_cump       I_V
 bin_var
 (0.999, 100.9]     100          31        69    0.103333  0.098571  0.000225
 (100.9, 200.8]     100          30        70    0.100000  0.100000  0.000000
 (200.8, 300.7]     100          26        74    0.086667  0.105714  0.003784
 (300.7, 400.6]     100          22        78    0.073333  0.111429  0.015938
 (400.6, 500.5]     100          30        70    0.100000  0.100000  0.000000
 (500.5, 600.4]     100          24        76    0.080000  0.108571  0.008725
 (600.4, 700.3]     100          23        77    0.076667  0.110000  0.012034
 (700.3, 800.2]     100          29        71    0.096667  0.101429  0.000229
 (800.2, 900.1]     100          38        62    0.126667  0.088571  0.013629
 (900.1, 1000.0]    100          47        53    0.156667  0.075714  0.058865,
                  Total  incumplido  cumplido  per_incump  per_cump       I_V
 bin_var
 (0.999, 100.9]     100          21        79    0.070000  0.112857  0.020470
 (100.9, 200.8]     100          33        67    0.110000  0.095714  0.001987
 (200.8, 300.7]     100          26        74    0.086667  0.105714  0.003784
 (300.7, 400.6]     100          42        58    0.140000  0.082857  0.029973
 (400.6, 500.5]     100          31        69    0.103333  0.098571  0.000225
 (500.5, 600.4]     100          37        63    0.123333  0.090000  0.010503
 (600.4, 700.3]     100          33        67    0.110000  0.095714  0.001987
 (700.3, 800.2]     100          22        78    0.073333  0.111429  0.015938
 (800.2, 900.1]     100          32        68    0.106667  0.097143  0.000891
 (900.1, 1000.0]    100          23        77    0.076667  0.110000  0.012034,
                  Total  incumplido  cumplido  per_incump  per_cump       I_V
 bin_var
 (0.999, 100.9]     100          25        75    0.083333  0.107143  0.005984
 (100.9, 200.8]     100          28        72    0.093333  0.102857  0.000925
 (200.8, 300.7]     100          28        72    0.093333  0.102857  0.000925
 (300.7, 400.6]     100          25        75    0.083333  0.107143  0.005984
 (400.6, 500.5]     100          38        62    0.126667  0.088571  0.013629
 (500.5, 600.4]     100          33        67    0.110000  0.095714  0.001987
 (600.4, 700.3]     100          30        70    0.100000  0.100000  0.000000
 (700.3, 800.2]     100          34        66    0.113333  0.094286  0.003505
 (800.2, 900.1]     100          31        69    0.103333  0.098571  0.000225
 (900.1, 1000.0]    100          28        72    0.093333  0.102857  0.000925,
                 Total  incumplido  cumplido  per_incump  per_cump  \
 Otros_deudores
 A101              907         272       635    0.906667  0.907143
 A102               41          18        23    0.060000  0.032857
 A103               52          10        42    0.033333  0.060000

                          I_V
 Otros_deudores
 A101            2.500344e-07
 A102            1.634476e-02
 A103            1.567431e-02  ,
                         Total  incumplido  cumplido  per_incump  per_cump  \
 Otros_planes_de_cuotas
 A141                      139          57        82    0.190000  0.117143
 A142                       47          19        28    0.063333  0.040000
 A143                      814         224       590    0.746667  0.842857

                              I_V
 Otros_planes_de_cuotas
 A141                    0.035236
 A142                    0.010722
 A143                    0.011656  ,
            Total  incumplido  cumplido  per_incump  per_cump       I_V
 Propiedad
 A121         282          60       222    0.200000  0.317143  0.054007
 A122         232          71       161    0.236667  0.230000  0.000190
 A123         332         102       230    0.340000  0.328571  0.000391
 A124         154          67        87    0.223333  0.124286  0.058050,
            Total  incumplido  cumplido  per_incump  per_cump       I_V
 Propósito
 A40          234          89       145    0.296667  0.207143  0.032157
 A41          103          17        86    0.056667  0.122857  0.051221
 A410          12           5         7    0.016667  0.010000  0.003406
 A42          181          58       123    0.193333  0.175714  0.001684
 A43          280          62       218    0.206667  0.311429  0.042959
 A44           12           4         8    0.013333  0.011429  0.000294
 A45           22           8        14    0.026667  0.020000  0.001918
 A46           50          22        28    0.073333  0.040000  0.020205
 A48            9           1         8    0.003333  0.011429  0.009974
 A49           97          34        63    0.113333  0.090000  0.005379,
                  Total  incumplido  cumplido  per_incump  per_cump       I_V
 bin_var
 (0.999, 100.9]     100          29        71    0.096667  0.101429  0.000229
 (100.9, 200.8]     100          24        76    0.080000  0.108571  0.008725
 (200.8, 300.7]     100          33        67    0.110000  0.095714  0.001987
 (300.7, 400.6]     100          33        67    0.110000  0.095714  0.001987
 (400.6, 500.5]     100          32        68    0.106667  0.097143  0.000891
 (500.5, 600.4]     100          28        72    0.093333  0.102857  0.000925
 (600.4, 700.3]     100          28        72    0.093333  0.102857  0.000925
 (700.3, 800.2]     100          23        77    0.076667  0.110000  0.012034
 (800.2, 900.1]     100          40        60    0.133333  0.085714  0.021040
 (900.1, 1000.0]    100          30        70    0.100000  0.100000  0.000000,
                  Total  incumplido  cumplido  per_incump  per_cump       I_V
 bin_var
 (0.999, 100.9]     100          26        74    0.086667  0.105714  0.003784
 (100.9, 200.8]     100          21        79    0.070000  0.112857  0.020470
 (200.8, 300.7]     100          27        73    0.090000  0.104286  0.002105
 (300.7, 400.6]     100          30        70    0.100000  0.100000  0.000000
 (400.6, 500.5]     100          29        71    0.096667  0.101429  0.000229
 (500.5, 600.4]     100          29        71    0.096667  0.101429  0.000229
 (600.4, 700.3]     100          39        61    0.130000  0.087143  0.017142
 (700.3, 800.2]     100          31        69    0.103333  0.098571  0.000225
 (800.2, 900.1]     100          39        61    0.130000  0.087143  0.017142
 (900.1, 1000.0]    100          29        71    0.096667  0.101429  0.000229,
           Total  incumplido  cumplido  per_incump  per_cump       I_V
 Teléfono
 A191        596         187       409    0.623333  0.584286  0.002526
 A192        404         113       291    0.376667  0.415714  0.003852,
                        Total  incumplido  cumplido  per_incump  per_cump  \
 Trabajador_extranjero
 A201                     963         296       667    0.986667  0.952857
 A202                      37           4        33    0.013333  0.047143

                             I_V
 Trabajador_extranjero
 A201                   0.001179
 A202                   0.042699  ,
          Total  incumplido  cumplido  per_incump  per_cump       I_V
 Trabajo
 A171        22           7        15    0.023333  0.021429  0.000162
 A172       200          56       144    0.186667  0.205714  0.001851
 A173       630         186       444    0.620000  0.634286  0.000325
 A174       148          51        97    0.170000  0.138571  0.006424]

In [34]:
arr1=[]
arr2=[]
for dataset in IV_calc_auto(credit_data):
    arr1.append(dataset.I_V.sum())
for var in np.delete(var_arr,1):
      arr2.append(var)

In [35]:
arr2

['Alojamiento',
 'Cuenta_de_ahorros',
 'Duración_en_meses',
 'Edad_en_años',
 'Empleo_actual_desde',
 'Estado_de_la_cuenta_de_cheques_existente',
 'Estado_personal_y_sexo',
 'Historial_de_crédito',
 'Monto_de_crédito',
 'Número_de_créditos_existentes_en_este_banco',
 'Número_de_personas_que_están_obligadas_a_proporcionar_alimentos_a',
 'Otros_deudores',
 'Otros_planes_de_cuotas',
 'Propiedad',
 'Propósito',
 'Residencia_actual_desde',
 'Tasa_de_cuota_en_porcentaje_del_ingreso_disponible',
 'Teléfono',
 'Trabajador_extranjero',
 'Trabajo']

In [36]:
np.concatenate((arr1,arr2), axis=0)

array(['0.08329343361549926', '0.19600955690422672',
       '0.26052252233213913', '0.10267245670259074', '0.086433631026641',
       '0.6660115033513336', '0.04467067763379073', '0.2932335473908263',
       '0.11342803024552867', '0.09779114631307396',
       '0.03408883520785682', '0.032019322019485055',
       '0.057614541955647885', '0.11263826240979674',
       '0.16919506567307832', '0.04874371881018562',
       '0.06155468378629412', '0.0063776050286746735',
       '0.04387741201028899', '0.008762765707428294', 'Alojamiento',
       'Cuenta_de_ahorros', 'Duración_en_meses', 'Edad_en_años',
       'Empleo_actual_desde', 'Estado_de_la_cuenta_de_cheques_existente',
       'Estado_personal_y_sexo', 'Historial_de_crédito',
       'Monto_de_crédito', 'Número_de_créditos_existentes_en_este_banco',
       'Número_de_personas_que_están_obligadas_a_proporcionar_alimentos_a',
       'Otros_deudores', 'Otros_planes_de_cuotas', 'Propiedad',
       'Propósito', 'Residencia_actual_desde',
       'Tasa_de_cuota_en_porcentaje_del_ingreso_disponible', 'Teléfono',
       'Trabajador_extranjero', 'Trabajo'], dtype='<U65')

In [37]:
IV_calc_auto(credit_data)[0].I_V.sum()

0.08329343361549926

In [38]:
IV_calc_auto(credit_data)[1].I_V.sum()

0.19600955690422672

In [39]:
d = {'Variable': arr2, 'Valor de la información (Information Value)': arr1}
df1 = pd.DataFrame(data=d)

In [40]:
df1

,Variable,Valor de la información (Information Value)
0,Alojamiento,0.083293
1,Cuenta_de_ahorros,0.196010
2,Duración_en_meses,0.260523
3,Edad_en_años,0.102672
4,Empleo_actual_desde,0.086434
5,Estado_de_la_cuenta_de_cheques_existente,0.666012
6,Estado_personal_y_sexo,0.044671
7,Historial_de_crédito,0.293234
8,Monto_de_crédito,0.113428
9,Número_de_créditos_existentes_en_este_banco,0.097791
10,Número_de_personas_que_están_obligadas_a_propo...,0.034089
11,Otros_deudores,0.032019
12,Otros_planes_de_cuotas,0.057615
13,Propiedad,0.112638
14,Propósito,0.169195
15,Residencia_actual_desde,0.048744
16,Tasa_de_cuota_en_porcentaje_del_ingreso_dispon...,0.061555
17,Teléfono,0.006378
18,Trabajador_extranjero,0.043877
19,Trabajo,0.008763

In [41]:
df1.sort_values(by='Valor de la información (Information Value)', ascending=False)

,Variable,Valor de la información (Information Value)
5,Estado_de_la_cuenta_de_cheques_existente,0.666012
7,Historial_de_crédito,0.293234
2,Duración_en_meses,0.260523
1,Cuenta_de_ahorros,0.196010
14,Propósito,0.169195
8,Monto_de_crédito,0.113428
13,Propiedad,0.112638
3,Edad_en_años,0.102672
9,Número_de_créditos_existentes_en_este_banco,0.097791
4,Empleo_actual_desde,0.086434
0,Alojamiento,0.083293
16,Tasa_de_cuota_en_porcentaje_del_ingreso_dispon...,0.061555
12,Otros_planes_de_cuotas,0.057615
15,Residencia_actual_desde,0.048744
6,Estado_personal_y_sexo,0.044671
18,Trabajador_extranjero,0.043877
10,Número_de_personas_que_están_obligadas_a_propo...,0.034089
11,Otros_deudores,0.032019
19,Trabajo,0.008763
17,Teléfono,0.006378

# Solución alternativa al problema de automatizar el cálculo de IV (Information Value)

In [42]:
credit_data.head()

,Estado_de_la_cuenta_de_cheques_existente,Duración_en_meses,Historial_de_crédito,Propósito,Monto_de_crédito,Cuenta_de_ahorros,Empleo_actual_desde,Tasa_de_cuota_en_porcentaje_del_ingreso_disponible,Estado_personal_y_sexo,Otros_deudores,Residencia_actual_desde,Propiedad,Edad_en_años,Otros_planes_de_cuotas,Alojamiento,Número_de_créditos_existentes_en_este_banco,Trabajo,Número_de_personas_que_están_obligadas_a_proporcionar_alimentos_a,Teléfono,Trabajador_extranjero,Clase,bin_var
0,A11,6,A34,A43,1169,A65,A75,4,A93,A101,4,A121,67,A143,A152,2,A173,1,A192,A201,0,"(500.5, 600.4]"
1,A12,48,A32,A43,5951,A61,A73,2,A92,A101,2,A121,22,A143,A152,1,A173,1,A191,A201,1,"(100.9, 200.8]"
2,A14,12,A34,A46,2096,A61,A74,2,A93,A101,3,A121,49,A143,A152,1,A172,2,A191,A201,0,"(100.9, 200.8]"
3,A11,42,A32,A42,7882,A61,A74,2,A93,A103,4,A122,45,A143,A153,1,A173,2,A191,A201,0,"(100.9, 200.8]"
4,A11,24,A33,A40,4870,A61,A73,3,A93,A101,4,A124,53,A143,A153,2,A173,2,A191,A201,1,"(300.7, 400.6]"

In [43]:
arr_tot=credit_data.columns.values

In [44]:
arr_tot

array(['Estado_de_la_cuenta_de_cheques_existente', 'Duración_en_meses',
       'Historial_de_crédito', 'Propósito', 'Monto_de_crédito',
       'Cuenta_de_ahorros', 'Empleo_actual_desde',
       'Tasa_de_cuota_en_porcentaje_del_ingreso_disponible',
       'Estado_personal_y_sexo', 'Otros_deudores',
       'Residencia_actual_desde', 'Propiedad', 'Edad_en_años',
       'Otros_planes_de_cuotas', 'Alojamiento',
       'Número_de_créditos_existentes_en_este_banco', 'Trabajo',
       'Número_de_personas_que_están_obligadas_a_proporcionar_alimentos_a',
       'Teléfono', 'Trabajador_extranjero', 'Clase', 'bin_var'],
      dtype=object)

In [45]:
arr_tot=np.delete(arr_tot,(20,21))

In [46]:
arr_tot.tolist()

['Estado_de_la_cuenta_de_cheques_existente',
 'Duración_en_meses',
 'Historial_de_crédito',
 'Propósito',
 'Monto_de_crédito',
 'Cuenta_de_ahorros',
 'Empleo_actual_desde',
 'Tasa_de_cuota_en_porcentaje_del_ingreso_disponible',
 'Estado_personal_y_sexo',
 'Otros_deudores',
 'Residencia_actual_desde',
 'Propiedad',
 'Edad_en_años',
 'Otros_planes_de_cuotas',
 'Alojamiento',
 'Número_de_créditos_existentes_en_este_banco',
 'Trabajo',
 'Número_de_personas_que_están_obligadas_a_proporcionar_alimentos_a',
 'Teléfono',
 'Trabajador_extranjero']

In [47]:
#discrete_columns = ['Estado_de_la_cuenta_de_cheques_existente','Historial_de_crédito', 'Propósito','Cuenta_de_ahorros', 'Empleo_actual_desde,','Tasa_de_cuota_en_porcentaje_del_ingreso_disponible',
#       'Estado_personal_y_sexo', 'Otros_deudores','Propiedad','Otros_planes_de_cuotas', 'Alojamiento', 'Trabajo','Teléfono', 'Trabajador_extranjero']


#continuous_columns = ['Duración_en_meses', 'Monto_de_crédito','Tasa_de_cuota_en_porcentaje_del_ingreso_disponible',
#'Residencia_actual_desde', 'Edad_en_años','Otros_planes_de_cuotas', 'Alojamiento','Número_de_créditos_existentes_en_este_banco',
#'Número_de_personas_que_están_obligadas_a_proporcionar_alimentos_a']
#discrete_columns + continuous_columns


total_columns = credit_data.columns.values
arr_tot=np.delete(total_columns,(20,21)).tolist()

# List of IV values
Iv_list = []

for col in arr_tot:
    assigned_data = IV_calc(data = credit_data,var = col)
    iv_val = round(assigned_data["I_V"].sum(),3)
    dt_type = credit_data[col].dtypes
    Iv_list.append((iv_val,col,dt_type))

Iv_list = sorted(Iv_list,reverse = True)


for i in range(len(Iv_list)):
    
    print (Iv_list[i][0],",",Iv_list[i][1],",type =",Iv_list[i][2])

0.666 , Estado_de_la_cuenta_de_cheques_existente ,type = object
0.293 , Historial_de_crédito ,type = object
0.261 , Duración_en_meses ,type = int64
0.196 , Cuenta_de_ahorros ,type = object
0.169 , Propósito ,type = object
0.113 , Propiedad ,type = object
0.113 , Monto_de_crédito ,type = int64
0.103 , Edad_en_años ,type = int64
0.098 , Número_de_créditos_existentes_en_este_banco ,type = int64
0.086 , Empleo_actual_desde ,type = object
0.083 , Alojamiento ,type = object
0.062 , Tasa_de_cuota_en_porcentaje_del_ingreso_disponible ,type = int64
0.058 , Otros_planes_de_cuotas ,type = object
0.049 , Residencia_actual_desde ,type = int64
0.045 , Estado_personal_y_sexo ,type = object
0.044 , Trabajador_extranjero ,type = object
0.034 , Número_de_personas_que_están_obligadas_a_proporcionar_alimentos_a ,type = int64
0.032 , Otros_deudores ,type = object
0.009 , Trabajo ,type = object
0.006 , Teléfono ,type = object

In [48]:
dummy_estche =pd.get_dummies(credit_data['Estado_de_la_cuenta_de_cheques_existente'],
prefix='estado_cuenta_exist')

dummy_hc = pd.get_dummies(credit_data['Historial_de_crédito'],
prefix='hist_cred')

dummy_cueah = pd.get_dummies(credit_data['Cuenta_de_ahorros'],
prefix='cuent_ahorros')

dummy_prop = pd.get_dummies(credit_data['Propósito'],
prefix='propósito')

dummy_property = pd.get_dummies(credit_data['Propiedad'],
prefix='propiedad')

dummy_othinstpln =pd.get_dummies(credit_data['Otros_planes_de_cuotas'],
prefix='otros_planes_cuot')

dummy_empact = pd.get_dummies(credit_data['Empleo_actual_desde'], prefix='emp_act_desde')

dummy_perssx = pd.get_dummies(credit_data['Estado_personal_y_sexo'],
prefix='estado_pers_sexo')

dummy_forgnwrkr = pd.get_dummies(credit_data['Trabajador_extranjero'],
prefix='trabajador_extranj')

dummy_othdts = pd.get_dummies(credit_data['Otros_deudores'],
prefix='otros_deud')

continuous_columns = ['Duration_in_month', 'Credit_amount',
'Installment_rate_in_percentage_of_disposable_income', 'Age_in_years',
'Number_of_existing_credits_at_this_bank']

continuous_columns = ['Duración_en_meses', 'Monto_de_crédito','Tasa_de_cuota_en_porcentaje_del_ingreso_disponible',
                      'Edad_en_años','Número_de_créditos_existentes_en_este_banco']

credit_continuous = credit_data[continuous_columns]

credit_data_new = pd.concat([dummy_estche,dummy_hc,dummy_cueah
,dummy_prop,dummy_property,dummy_othinstpln,dummy_empact
,dummy_perssx,dummy_forgnwrkr,dummy_othdts,credit_continuous,credit_data['Clase']],axis=1)

In [49]:
credit_data_new.columns.values

array(['estado_cuenta_exist_A11', 'estado_cuenta_exist_A12',
       'estado_cuenta_exist_A13', 'estado_cuenta_exist_A14',
       'hist_cred_A30', 'hist_cred_A31', 'hist_cred_A32', 'hist_cred_A33',
       'hist_cred_A34', 'cuent_ahorros_A61', 'cuent_ahorros_A62',
       'cuent_ahorros_A63', 'cuent_ahorros_A64', 'cuent_ahorros_A65',
       'propósito_A40', 'propósito_A41', 'propósito_A410',
       'propósito_A42', 'propósito_A43', 'propósito_A44', 'propósito_A45',
       'propósito_A46', 'propósito_A48', 'propósito_A49',
       'propiedad_A121', 'propiedad_A122', 'propiedad_A123',
       'propiedad_A124', 'otros_planes_cuot_A141',
       'otros_planes_cuot_A142', 'otros_planes_cuot_A143',
       'emp_act_desde_A71', 'emp_act_desde_A72', 'emp_act_desde_A73',
       'emp_act_desde_A74', 'emp_act_desde_A75', 'estado_pers_sexo_A91',
       'estado_pers_sexo_A92', 'estado_pers_sexo_A93',
       'estado_pers_sexo_A94', 'trabajador_extranj_A201',
       'trabajador_extranj_A202', 'otros_deud_A101', 'otros_deud_A102',
       'otros_deud_A103', 'Duración_en_meses', 'Monto_de_crédito',
       'Tasa_de_cuota_en_porcentaje_del_ingreso_disponible',
       'Edad_en_años', 'Número_de_créditos_existentes_en_este_banco',
       'Clase'], dtype=object)

In [50]:
x_train,x_test,y_train,y_test = train_test_split(
credit_data_new.drop(['Clase'] ,axis=1),credit_data_new['Clase'],train_size
= 0.7,random_state=42)
#y_train = pd.DataFrame(y_train)
#y_test = pd.DataFrame(y_test)

In [51]:
remove_cols_extra_dummy = ['estado_cuenta_exist_A11', 'hist_cred_A30',
'propósito_A40', 'cuent_ahorros_A61','emp_act_desde_A71','estado_pers_sexo_A91',
'otros_deud_A101','propiedad_A121', 'otros_planes_cuot_A141','trabajador_extranj_A201']

In [52]:
# Aquí, hemos creado la lista adicional para eliminar variables insignificantes paso a paso de forma iterativa mientras 
# trabajamos en la metodología de eliminación hacia atrás; después del final de cada iteración, seguiremos agregando la 
# variable más insignificante y multicolineal a la lista remove_cols_insig, para que esas variables se eliminen mientras 
# se entrena el modelo.
remove_cols_insig = []
remove_cols = list(set(remove_cols_extra_dummy+remove_cols_insig))

In [53]:
remove_cols

['otros_deud_A101',
 'propósito_A40',
 'estado_cuenta_exist_A11',
 'otros_planes_cuot_A141',
 'emp_act_desde_A71',
 'cuent_ahorros_A61',
 'propiedad_A121',
 'estado_pers_sexo_A91',
 'trabajador_extranj_A201',
 'hist_cred_A30']

# logistic_model

In [54]:
import statsmodels.api as sm
logistic_model = sm.Logit(y_train, sm.add_constant(x_train.drop(
remove_cols, axis=1))).fit()
print (logistic_model.summary())

Optimization terminated successfully.
         Current function value: 0.456186
         Iterations 7
                           Logit Regression Results
==============================================================================
Dep. Variable:                  Clase   No. Observations:                  700
Model:                          Logit   Df Residuals:                      659
Method:                           MLE   Df Model:                           40
Date:                Sun, 30 Jan 2022   Pseudo R-squ.:                  0.2517
Time:                        21:54:11   Log-Likelihood:                -319.33
converged:                       True   LL-Null:                       -426.75
Covariance Type:            nonrobust   LLR p-value:                 8.624e-26
======================================================================================================================
                                                         coef    std err          z      P>|z|      [0.025      0.975]
----------------------------------------------------------------------------------------------------------------------
const                                                  0.7625      1.093      0.698      0.485      -1.380       2.905
estado_cuenta_exist_A12                               -0.3295      0.261     -1.262      0.207      -0.841       0.182
estado_cuenta_exist_A13                               -1.0005      0.455     -2.200      0.028      -1.892      -0.109
estado_cuenta_exist_A14                               -1.5554      0.275     -5.665      0.000      -2.094      -1.017
hist_cred_A31                                          0.0991      0.622      0.159      0.874      -1.121       1.319
hist_cred_A32                                         -0.4396      0.470     -0.936      0.349      -1.360       0.481
hist_cred_A33                                         -1.0517      0.525     -2.002      0.045      -2.081      -0.022
hist_cred_A34                                         -1.4906      0.482     -3.095      0.002      -2.434      -0.547
cuent_ahorros_A62                                     -0.2640      0.338     -0.781      0.435      -0.926       0.398
cuent_ahorros_A63                                     -0.6581      0.480     -1.370      0.171      -1.600       0.284
cuent_ahorros_A64                                     -1.0675      0.613     -1.741      0.082      -2.269       0.134
cuent_ahorros_A65                                     -0.6475      0.296     -2.184      0.029      -1.229      -0.066
propósito_A41                                         -1.6099      0.426     -3.781      0.000      -2.445      -0.775
propósito_A410                                        -1.0218      0.816     -1.251      0.211      -2.622       0.578
propósito_A42                                         -1.0331      0.319     -3.234      0.001      -1.659      -0.407
propósito_A43                                         -1.0443      0.292     -3.575      0.000      -1.617      -0.472
propósito_A44                                         -0.6334      0.774     -0.818      0.413      -2.151       0.885
propósito_A45                                         -0.6976      0.646     -1.080      0.280      -1.964       0.568
propósito_A46                                          0.1530      0.497      0.308      0.758      -0.821       1.127
propósito_A48                                         -2.0515      1.201     -1.708      0.088      -4.405       0.302
propósito_A49                                         -0.5883      0.391     -1.505      0.132      -1.355       0.178
propiedad_A122                                         0.3993      0.299      1.335      0.182      -0.187       0.985
propiedad_A123                                         0.2301      0.279      0.824      0.410      -0.317       0.777
propiedad_A124                                         0.8407      0.369      2.276      0.023       0.117       1.565
otros_planes_cuot_A142                                -0.1852      0.537     -0.345      0.730      -1.237       0.867
otros_planes_cuot_A143                                -0.5004      0.287     -1.746      0.081      -1.062       0.061
emp_act_desde_A72                                      0.1148      0.448      0.256      0.798      -0.763       0.992
emp_act_desde_A73                                      0.0142      0.415      0.034      0.973      -0.799       0.827
emp_act_desde_A74                                     -0.2943      0.458     -0.643      0.520      -1.191       0.603
emp_act_desde_A75                                     -0.1671      0.436     -0.383      0.702      -1.023       0.688
estado_pers_sexo_A92                                  -0.1415      0.494     -0.287      0.774      -1.110       0.826
estado_pers_sexo_A93                                  -0.6178      0.487     -1.270      0.204      -1.572       0.336
estado_pers_sexo_A94                                  -0.1263      0.576     -0.219      0.826      -1.256       1.003
trabajador_extranj_A202                               -1.3120      0.743     -1.765      0.078      -2.769       0.145
otros_deud_A102                                       -0.0164      0.495     -0.033      0.974      -0.987       0.954
otros_deud_A103                                       -0.7171      0.470     -1.527      0.127      -1.637       0.203
Duración_en_meses                                      0.0197      0.011      1.810      0.070      -0.002       0.041
Monto_de_crédito                                       0.0001   4.77e-05      2.353      0.019    1.88e-05       0.000
Tasa_de_cuota_en_porcentaje_del_ingreso_disponible     0.3338      0.103      3.236      0.001       0.132       0.536
Edad_en_años                                          -0.0305      0.011     -2.777      0.005      -0.052      -0.009
Número_de_créditos_existentes_en_este_banco            0.3471      0.221      1.568      0.117      -0.087       0.781
======================================================================================================================

## Cálculo del VIF

In [ ]:
#x_train

In [ ]:
#x_train.columns

In [ ]:
#x_train.drop(remove_cols,axis=1).columns

In [ ]:
cnames = x_train.drop(remove_cols,axis=1).columns #elimina la primera columna de cada categoría en x_train
for i in np.arange(0,len(cnames)): 
    xvars = list(cnames) 
    
yvar = xvars.pop(1)
print(yvar)

In [ ]:
print ("\nFactor de inflación de varianza(Variance Inflation Factor)")
cnames = x_train.drop(remove_cols,axis=1).columns #elimina la primera columna de cada categoría en x_train
for i in np.arange(0,len(cnames)): 
    xvars = list(cnames) 
    yvar = xvars.pop(i)
#print(xvars)
#print(((yvar)))
    print(sm.add_constant(x_train.drop(remove_cols,axis=1)[xvars]))

In [ ]:
x_train.drop(remove_cols,axis=1)

In [ ]:
print ("\nFactor de inflación de varianza(Variance Inflation Factor)")
cnames = x_train.drop(remove_cols,axis=1).columns #elimina la primera columna de cada categoría en x_train


for i in np.arange(0,len(cnames)): # se crea un array Numpy que va desde 0 hasta a longitud de cnames (en este caso 40)
    
    xvars = list(cnames) #lista que contiene los nombres de las columnas ya con el filtro de "cnames" 
    
    yvar = xvars.pop(i) # los 40 valores de cada columna siendo esttas las variables de respuesta
    mod = sm.OLS(x_train.drop(remove_cols,axis=1)[yvar], sm.add_constant(x_train.drop(remove_cols,axis=1)[xvars])) #calcula
    # los mínimos cuadrados ordinarios (OLS)
    # model = sm.OLS(Y,X) <---- sintaxis
    
    # X ---> sm.add_constant(x_train.drop(remove_cols,axis=1)[xvars]) ---> 40 data sets cuya primera columna es una columna de "unos"
    # agregada a cada data set que antes poseía 39 coumnas al sere extraído una columna del data set original
    
    # Y ---> Cada header de cada columna se usa como variable de respuesta
    
    res = mod.fit()
    print(res)

In [ ]:
print ("\nFactor de inflación de varianza(Variance Inflation Factor)")
cnames = x_train.drop(remove_cols,axis=1).columns #elimina la primera columna de cada categoría en x_train

for i in np.arange(0,len(cnames)): # se crea un array Numpy que va desde 0 hasta a longitud de cnames (en este caso 40)
    
    xvars = list(cnames) #40 listas que contiene los nombres de las columnas ya con el filtro de "cnames" (cada una tiene 39)
    
    yvar = xvars.pop(i) # los 40 valores de cada columna siendo esttas las variables de respuesta
    mod = sm.OLS(x_train.drop(remove_cols,axis=1)[yvar], x_train.drop(remove_cols,axis=1)[xvars]) #calcula
    # los mínimos cuadrados ordinarios (OLS)
    # model = sm.OLS(Y,X) <---- sintaxis
    
    # X ---> sm.add_constant(x_train.drop(remove_cols,axis=1)[xvars]) ---> 40 data sets cuya primera columna es una columna de "unos"
    # agregada a cada data set que antes poseía 39 coumnas al sere extraído una columna del data set original
    
    # Y ---> x_train.drop(remove_cols,axis=1)[yvar] ---> Cada header de cada columna se usa como variable de respuesta
    
    res = mod.fit() # Se calculan 40 regresiones con mínimos cyadrados
    vif = 1/(1-res.rsquared)
    print (yvar,round(vif,3))

# Cálculo correcto del VIF

In [55]:
print ("\nFactor de inflación de varianza(Variance Inflation Factor)")
cnames = x_train.drop(remove_cols,axis=1).columns #elimina la primera columna de cada categoría en x_train reduciendo el data
#set original de 50 columnas a 40 columnas

for i in np.arange(0,len(cnames)): # se crea un array Numpy que va desde 0 hasta a longitud de cnames (en este caso 40)
    
    xvars = list(cnames) #lista que contiene los nombres de las columnas ya con el filtro de "cnames"
    
    yvar = xvars.pop(i) # los 40 valores de cada columna siendo esttas las variables de respuesta (pop(i)) extrae el elemento
    #i-ésimo de la lista xvars
    
    mod = sm.OLS(x_train.drop(remove_cols,axis=1)[yvar], sm.add_constant(x_train.drop(remove_cols,axis=1)[xvars])) #calcula
    # los mínimos cuadrados ordinarios (OLS)
    # model = sm.OLS(Y,X) <---- sintaxis
    
    # X ---> sm.add_constant(x_train.drop(remove_cols,axis=1)[xvars]) ---> 40 data sets cuya primera columna es una columna de 
    # "unos" agregada a cada data set que antes poseía 39 coumnas al serle extraído una columna del data set original
    
    # Se agrega una columna de unos como una variable dependiente. La razón por la que tiene que hacer esto 
    # es porque la función de regresión asume que si no hay una columna constante, entonces desea ejecutar la regresión sin 
    #una intersección. 
    
    # Y ---> x_train.drop(remove_cols,axis=1)[yvar] ---> Cada header de cada columna se usa como variable de respuesta
    
    res = mod.fit() # Se calculan 40 regresiones con mínimos cuadrados
    vif = 1/(1-res.rsquared)
    print (yvar,round(vif,3))

Factor de inflación de varianza(Variance Inflation Factor)
estado_cuenta_exist_A12 1.722
estado_cuenta_exist_A13 1.24
estado_cuenta_exist_A14 1.823
hist_cred_A31 2.214
hist_cred_A32 6.991
hist_cred_A33 2.894
hist_cred_A34 5.997
cuent_ahorros_A62 1.141
cuent_ahorros_A63 1.103
cuent_ahorros_A64 1.109
cuent_ahorros_A65 1.179
propósito_A41 1.421
propósito_A410 1.213
propósito_A42 1.545
propósito_A43 1.754
propósito_A44 1.078
propósito_A45 1.116
propósito_A46 1.201
propósito_A48 1.097
propósito_A49 1.484
propiedad_A122 1.56
propiedad_A123 1.741
propiedad_A124 1.784
otros_planes_cuot_A142 1.321
otros_planes_cuot_A143 1.395
emp_act_desde_A72 3.3
emp_act_desde_A73 4.403
emp_act_desde_A74 3.368
emp_act_desde_A75 3.91
estado_pers_sexo_A92 6.309
estado_pers_sexo_A93 6.948
estado_pers_sexo_A94 3.227
trabajador_extranj_A202 1.127
otros_deud_A102 1.118
otros_deud_A103 1.195
Duración_en_meses 2.006
Monto_de_crédito 2.455
Tasa_de_cuota_en_porcentaje_del_ingreso_disponible 1.336
Edad_en_años 1.378
Número_de_créditos_existentes_en_este_banco 1.559

In [56]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

def calculate_vif(dataset):
    vif=pd.DataFrame()
    vif["features"] = dataset.columns 
    vif["VIF_value"]=[variance_inflation_factor(dataset.values,i) for i in range(dataset.shape[1])] 
    
    return(vif)

In [57]:
calculate_vif(x_train)

D:\Anaconda\lib\site-packages\statsmodels\stats\outliers_influence.py:193: RuntimeWarning: divide by zero encountered in double_scalars
  vif = 1. / (1. - r_squared_i)

                                             features  VIF_value
0                             estado_cuenta_exist_A11        inf
1                             estado_cuenta_exist_A12        inf
2                             estado_cuenta_exist_A13        inf
3                             estado_cuenta_exist_A14        inf
4                                       hist_cred_A30        inf
5                                       hist_cred_A31        inf
6                                       hist_cred_A32        inf
7                                       hist_cred_A33        inf
8                                       hist_cred_A34        inf
9                                   cuent_ahorros_A61        inf
10                                  cuent_ahorros_A62        inf
11                                  cuent_ahorros_A63        inf
12                                  cuent_ahorros_A64        inf
13                                  cuent_ahorros_A65        inf
14                                      propósito_A40        inf
15                                      propósito_A41        inf
16                                     propósito_A410        inf
17                                      propósito_A42        inf
18                                      propósito_A43        inf
19                                      propósito_A44        inf
20                                      propósito_A45        inf
21                                      propósito_A46        inf
22                                      propósito_A48        inf
23                                      propósito_A49        inf
24                                     propiedad_A121        inf
25                                     propiedad_A122        inf
26                                     propiedad_A123        inf
27                                     propiedad_A124        inf
28                             otros_planes_cuot_A141        inf
29                             otros_planes_cuot_A142        inf
30                             otros_planes_cuot_A143        inf
31                                  emp_act_desde_A71        inf
32                                  emp_act_desde_A72        inf
33                                  emp_act_desde_A73        inf
34                                  emp_act_desde_A74        inf
35                                  emp_act_desde_A75        inf
36                               estado_pers_sexo_A91        inf
37                               estado_pers_sexo_A92        inf
38                               estado_pers_sexo_A93        inf
39                               estado_pers_sexo_A94        inf
40                            trabajador_extranj_A201        inf
41                            trabajador_extranj_A202        inf
42                                    otros_deud_A101        inf
43                                    otros_deud_A102        inf
44                                    otros_deud_A103        inf
45                                  Duración_en_meses   2.006211
46                                   Monto_de_crédito   2.454740
47  Tasa_de_cuota_en_porcentaje_del_ingreso_dispon...   1.335857
48                                       Edad_en_años   1.377579
49        Número_de_créditos_existentes_en_este_banco   1.559433

In [58]:
import statsmodels.api as sm
import numpy as np
duncan_prestige = sm.datasets.get_rdataset("Duncan", "carData")
Y = duncan_prestige.data['income']
X = duncan_prestige.data['education']
#X = sm.add_constant(X)
model = sm.OLS(Y,X)
results = model.fit()
results.params

education    0.748458
dtype: float64

# Cálculo del estadístico C

In [ ]:
logistic_model.predict(sm.add_constant(x_train.drop(remove_cols,axis=1)))

In [ ]:
sm.add_constant(x_train.drop(remove_cols,axis=1))

In [ ]:
logistic_model.predict()

In [ ]:
len(logistic_model.predict())

In [ ]:
sm.add_constant(x_train.drop(remove_cols,axis=1))

In [ ]:
logistic_model.predict(sm.add_constant(x_train.drop(remove_cols,axis=1)))

In [ ]:
logistic_model

In [ ]:
# import statsmodels.api as sm
# logistic_model = sm.Logit(y_train, sm.add_constant(x_train.drop(
# remove_cols, axis=1))).fit()
# print (logistic_model.summary())

In [ ]:
logistic_model.predict(sm.add_constant(x_train.drop (remove_cols,axis=1)))

In [ ]:
y_pred = pd.DataFrame(logistic_model.predict(sm.add_constant(x_train.drop (remove_cols,axis=1)))) #Usamos e conjunto de prueba 
# para prededcir el valor de la variable de respuesta o a predecir "clase"
y_pred.columns = ["probs"]
both = pd.concat([y_train,y_pred],axis=1) #Juntamos el valor real contra el valor predicho
print(both)

In [ ]:
both[['Clase','probs']]

In [ ]:
#zeros['_tmpkey'] = 1

In [ ]:
zeros = both[['Clase','probs']][both['Clase']==0] # filtro para tomar solo los valores que tienen Clase ==0 #Data_Frame
ones = both[['Clase','probs']][both['Clase']==1] # filtro para tomar solo los valores que tienen Clase ==1 #Data_Frame
def df_crossjoin(df1, df2, **kwargs):
    df1['_tmpkey'] = 1 # Agrega una nueva columna llena de "unos" al df1 
    df2['_tmpkey'] = 1 # Agrega una nueva columna llena de "unos" al df2
    res = pd.merge(df1, df2, on='_tmpkey', **kwargs).drop('_tmpkey',axis=1) # Parecido al comando INNER JOIN "" ON "" de SQL
    # en donde el header de la columna '_tmpkey' se usa como elemento común para unior df1 y df2 en un solo Data Frame y con 
    # drop eliminamos ambas columnas de "_tmpkey" creadas previamente
    
    # Se multplican 209 filas por 491 filas = 102,619 filas 
    
    res.index = pd.MultiIndex.from_product((df1.index, df2.index)) # Hace multi índices a partir del producto cartesiano
    #de múltiples iterables. 
    
    #print(res)
    
    #df1.drop('_tmpkey', axis=1, inplace=True) # no retorna ningún valor 
    #df2.drop('_tmpkey', axis=1, inplace=True) # no retorna ningún valor
    return res

In [ ]:
#ones

In [ ]:
#zeros

In [ ]:
joined_data = df_crossjoin(ones,zeros)

In [ ]:
joined_data

In [ ]:
#joined_data['concordant_pair'] = 0

In [ ]:
joined_data

In [ ]:
#joined_data['discordant_pair']

In [ ]:
#sum(joined_data['discordant_pair'])

In [ ]:
#(sum(joined_data['discordant_pair'])*1.0 )

In [ ]:
(joined_data.shape[0])

In [ ]:
#sum(joined_data['tied_pair'])

In [ ]:
#(sum(joined_data['discordant_pair'])*1.0 )/(joined_data.shape[0])

In [ ]:
 #(sum(joined_data['concordant_pair'])*1.0 )

In [ ]:
(joined_data.shape[0])

In [ ]:
#(sum(joined_data['concordant_pair'])*1.0 )/(joined_data.shape[0])

In [ ]:
 #(sum(joined_data['discordant_pair'])*1.0 )/(joined_data.shape[0])

# Cálculo del estadístico C

In [ ]:
joined_data['concordant_pair'] = 0 # Se agrega una columna llamada "concordant_pair"
joined_data.loc[joined_data['probs_x'] > joined_data['probs_y'], # si probs_x (predicción) > probs_y "concordant_pair"=1
'concordant_pair'] =1                                            # Un par es concordante si la probabilidad contra la clase 1
                                                                 # es mayor que la clase 0 

joined_data['discordant_pair'] = 0
joined_data.loc[joined_data['probs_x'] < joined_data['probs_y'], #discordante si la probabilidad contra la clase 1 es menor 
'discordant_pair'] =1                                            #que la clase 0

joined_data['tied_pair'] = 0                                     # Si ambas probabilidades son iguales, las ponemos 
joined_data.loc[joined_data['probs_x'] ==                        # en la categoría de par empatado.
joined_data['probs_y'],'tied_pair'] =1                           # si probs_x (predicción) == probs_y "tied_pair"=1

p_conc = (sum(joined_data['concordant_pair'])*1.0 )/(joined_data.shape[0]) # suma el total de pares concordantes y lo vuelve 
                                                                           # decimal y se divide entre el total de pares con-
                                                                           # cordantes para ver el porcentaje de pares que son 
                                                                           # concordantes

p_disc = (sum(joined_data['discordant_pair'])*1.0 )/(joined_data.shape[0]) # suma el total de pares disconcordantes y lo vuelve 
                                                                           # decimal y se divide entre el total de pares con-
                                                                           # cordantes para ver el porcentaje de pares que son 
                                                                           # disconcordantes


c_statistic = 0.5 + (p_conc - p_disc)/2.0
print ("\nC-statistic:",round(c_statistic,4))

In [ ]:
both['probs']

In [ ]:
import matplotlib.pyplot as plt
from sklearn import metrics
from sklearn.metrics import auc


fpr, tpr, thresholds = metrics.roc_curve(both['Clase'],both['probs'], #Calcula Receiver operating characteristic (ROC).
pos_label=1) # both['Clase']--> Etiquetas binarias verdaderas. both['probs']--> Puntuaciones objetivo 
             # Si y_true está entre {-1, 1} o {0, 1}, pos_label se esablece en 1

roc_auc = auc(fpr,tpr) # Calcule el área bajo la curva (AUC) utilizando la regla trapezoidal. 
plt.figure()           # Coordenadas x --> fpr ; Coordenadas y --> tpr
lw = 2
plt.plot(fpr, tpr, color='darkorange', lw=lw, label='Curva ROC (area =%0.2f)' % roc_auc)
plt.plot([0, 1], [0, 1], color='navy', lw=lw, linestyle='--')
plt.xlim([0.0, 1.0])
plt.ylim([0.0, 1.05])
plt.xlabel('False Positive Rate (1-Specificity)')
plt.ylabel('True Positive Rate')
plt.title('Curva ROC - German Credit Data')
plt.legend(loc="lower right")
plt.show()

# Variables eliminadas una por una.

In [ ]:
credit_data_new.columns.values

In [ ]:
remove_cols_extra_dummy = ['estado_cuenta_exist_A11', 'hist_cred_A30',
'propósito_A40', 'cuent_ahorros_A61','emp_act_desde_A71','estado_pers_sexo_A91',
'otros_deud_A101','propiedad_A121', 'otros_planes_cuot_A141','trabajador_extranj_A201']

In [ ]:
remove_cols_insig = ['propósito_A46', 'propósito_A45', 'propósito_A44',
'cuent_ahorros_A63','otros_planes_cuot_A143','propiedad_A123',
'estado_cuenta_exist_A12', 'hist_cred_A32', 'hist_cred_A33',
'propósito_A410','propósito_A49', 'propósito_A48',
'propiedad_A122', 'estado_pers_sexo_A92','trabajador_extranj_A202','estado_pers_sexo_A94',
'propósito_A42','otros_deud_A102','Edad_en_años','cuent_ahorros_A64','cuent_ahorros_A62',
'cuent_ahorros_A65','otros_deud_A103','emp_act_desde_A72','emp_act_desde_A73','emp_act_desde_A74','emp_act_desde_A75']

In [ ]:
# Aquí, hemos creado la lista adicional para eliminar variables insignificantes paso a paso de forma iterativa mientras 
# trabajamos en la metodología de eliminación hacia atrás; después del final de cada iteración, seguiremos agregando la 
# variable más insignificante y multicolineal a la lista remove_cols_insig, para que esas variables se eliminen mientras 
# se entrena el modelo.
#remove_cols_insig = []
remove_cols1 = list(set(remove_cols_extra_dummy+remove_cols_insig))

In [ ]:
remove_cols1

## Regresión Logística con nuevas variables

In [ ]:
import statsmodels.api as sm
logistic_model = sm.Logit(y_train, sm.add_constant(x_train.drop(
remove_cols1, axis=1))).fit()
print (logistic_model.summary())

In [ ]:
print ("\nFactor de inflación de varianza(Variance Inflation Factor)")
cnames = x_train.drop(remove_cols1,axis=1).columns #elimina la primera columna de cada categoría en x_train reduciendo el data
#set original de 50 columnas a 40 columnas

for i in np.arange(0,len(cnames)): # se crea un array Numpy que va desde 0 hasta a longitud de cnames (en este caso 40)
    
    xvars = list(cnames) #lista que contiene los nombres de las columnas ya con el filtro de "cnames"
    
    yvar = xvars.pop(i) # los 40 valores de cada columna siendo esttas las variables de respuesta (pop(i)) extrae el elemento
    #i-ésimo de la lista xvars
    
    mod = sm.OLS(x_train.drop(remove_cols1,axis=1)[yvar], sm.add_constant(x_train.drop(remove_cols1,axis=1)[xvars])) #calcula
    # los mínimos cuadrados ordinarios (OLS)
    # model = sm.OLS(Y,X) <---- sintaxis
    
    # X ---> sm.add_constant(x_train.drop(remove_cols,axis=1)[xvars]) ---> 40 data sets cuya primera columna es una columna de 
    # "unos" agregada a cada data set que antes poseía 39 coumnas al serle extraído una columna del data set original
    
    # Se agrega una columna de unos como una variable dependiente. La razón por la que tiene que hacer esto 
    # es porque la función de regresión asume que si no hay una columna constante, entonces desea ejecutar la regresión sin 
    #una intersección. 
    
    # Y ---> x_train.drop(remove_cols,axis=1)[yvar] ---> Cada header de cada columna se usa como variable de respuesta
    
    res = mod.fit() # Se calculan 40 regresiones con mínimos cuadrados
    vif = 1/(1-res.rsquared)
    print (yvar,round(vif,3))

In [ ]:
y_pred1 = pd.DataFrame(logistic_model.predict(sm.add_constant(x_train.drop (remove_cols1,axis=1)))) #Usamos e conjunto de prueba 
# para prededcir el valor de la variable de respuesta o a predecir "clase"
y_pred1.columns = ["probs"]
both = pd.concat([y_train,y_pred1],axis=1) #Juntamos el valor real contra el valor predicho
print(both)

In [ ]:
zeros = both[['Clase','probs']][both['Clase']==0] # filtro para tomar solo los valores que tienen Clase ==0 #Data_Frame
ones = both[['Clase','probs']][both['Clase']==1] # filtro para tomar solo los valores que tienen Clase ==1 #Data_Frame
def df_crossjoin(df1, df2, **kwargs):
    df1['_tmpkey'] = 1 # Agrega una nueva columna llena de "unos" al df1 
    df2['_tmpkey'] = 1 # Agrega una nueva columna llena de "unos" al df2
    res = pd.merge(df1, df2, on='_tmpkey', **kwargs).drop('_tmpkey',axis=1) # Parecido al comando INNER JOIN "" ON "" de SQL
    # en donde el header de la columna '_tmpkey' se usa como elemento común para unior df1 y df2 en un solo Data Frame y con 
    # drop eliminamos ambas columnas de "_tmpkey" creadas previamente
    
    # Se multplican 209 filas por 491 filas = 102,619 filas 
    
    res.index = pd.MultiIndex.from_product((df1.index, df2.index)) # Hace multi índices a partir del producto cartesiano
    #de múltiples iterables. 
    
    #print(res)
    
    #df1.drop('_tmpkey', axis=1, inplace=True) # no retorna ningún valor 
    #df2.drop('_tmpkey', axis=1, inplace=True) # no retorna ningún valor
    return res

In [ ]:
joined_data1 = df_crossjoin(ones,zeros)

In [ ]:
joined_data1

In [ ]:
joined_data1['concordant_pair'] = 0 # Se agrega una columna llamada "concordant_pair"
joined_data1.loc[joined_data1['probs_x'] > joined_data1['probs_y'], # si probs_x (predicción) > probs_y "concordant_pair"=1
'concordant_pair'] =1                                            # Un par es concordante si la probabilidad contra la clase 1
                                                                 # es mayor que la clase 0 

joined_data1['discordant_pair'] = 0
joined_data1.loc[joined_data1['probs_x'] < joined_data1['probs_y'], #discordante si la probabilidad contra la clase 1 es menor 
'discordant_pair'] =1                                            #que la clase 0

joined_data1['tied_pair'] = 0                                     # Si ambas probabilidades son iguales, las ponemos 
joined_data1.loc[joined_data1['probs_x'] ==                        # en la categoría de par empatado.
joined_data1['probs_y'],'tied_pair'] =1                           # si probs_x (predicción) == probs_y "tied_pair"=1

p_conc = (sum(joined_data1['concordant_pair'])*1.0 )/(joined_data1.shape[0]) # suma el total de pares concordantes y lo vuelve 
                                                                           # decimal y se divide entre el total de pares con-
                                                                           # cordantes para ver el porcentaje de pares que son 
                                                                           # concordantes

p_disc = (sum(joined_data1['discordant_pair'])*1.0 )/(joined_data1.shape[0]) # suma el total de pares disconcordantes y lo vuelve 
                                                                           # decimal y se divide entre el total de pares con-
                                                                           # cordantes para ver el porcentaje de pares que son 
                                                                           # disconcordantes


c_statistic = 0.5 + (p_conc - p_disc)/2.0
print ("\nC-statistic:",round(c_statistic,4))

In [ ]:
joined_data1

In [ ]:
joined_data

In [ ]:
import matplotlib.pyplot as plt
from sklearn import metrics
from sklearn.metrics import auc


fpr, tpr, thresholds = metrics.roc_curve(both['Clase'],both['probs'],
pos_label=1)
roc_auc = auc(fpr,tpr)
plt.figure()
lw = 2
plt.plot(fpr, tpr, color='darkorange', lw=lw, label='Curva ROC (area =%0.2f)' % roc_auc)
plt.plot([0, 1], [0, 1], color='navy', lw=lw, linestyle='--')
plt.xlim([0.0, 1.0])
plt.ylim([0.0, 1.05])
plt.xlabel('False Positive Rate (1-Specificity)')
plt.ylabel('True Positive Rate')
plt.title('Curva ROC - German Credit Data')
plt.legend(loc="lower right")
plt.show()

# Falta analizar el código de abajo

In [ ]:
both

In [ ]:
both["y_pred"] = 0

In [ ]:
both

In [ ]:
both.loc[both["probs"]>0.1,'y_pred']

In [ ]:
accuracy_score

In [ ]:
# Una vez que hemos encontrado la mejor situación del conjunto de datos de entrenamiento, la siguiente y última tarea 
# es predecir la categoría desde la probabilidad hasta el valor predeterminado. Hay muchas formas de establecer el valor de 
# umbral para convertir la probabilidad predicha en una clase real. En el siguiente código, hemos realizado una búsqueda de 
# cuadrícula simple para determinar el límite de umbral de mejor probabilidad. No obstante, incluso las curvas de sensibilidad 
# y especificidad podrían utilizarse para esta tarea.



for i in list(np.arange(0,1,0.1)): # crear array de 0 a 1 en pasos de 0.1
    both["y_pred"] = 0 # agregar columna "y_pred" con valores cero
    both.loc[both["probs"] > i, 'y_pred'] = 1 # Si e lvalor de la columna probs es mayor que los vcalores i
                                            # se le asigna valor de 1 
    print ("Threshold",i,"Train Accuracy:",
round(accuracy_score(both['Clase'], both['y_pred']),4)) # Se asigna la precisión 

# accuracy_score(y_true, y_pred)

In [ ]:
# Ahora, se aplicará un umbral de 0,5 a los datos de prueba para verificar si el modelo es consistente en varios conjuntos
# de datos con el siguiente código:
both["y_pred"] = 0
both.loc[both["probs"] > 0.5, 'y_pred'] = 1
print ("\nTrain Confusion Matrix\n\n", pd.crosstab(both['Clase'],
both['y_pred'],rownames = ["Actuall"],colnames = ["Predicted"]))

print ("\nTrain Accuracy:",round(accuracy_score(both['Clase'],both['y_pred']),4))

In [ ]:
y_pred_test = pd.DataFrame( logistic_model.predict(sm.add_constant(x_test.drop(remove_cols1,axis=1)))) #Data frame con predicciones
y_pred_test.columns = ["probs"] # Se le asigna el nombre "probs" a la columna de predicciones

both_test = pd.concat([y_test,y_pred_test],axis=1) # se unen los daros reales y predichos del conjunto de prueba en un sollo DataFrame

both_test["y_pred"] = 0 # Se asigna una columna con ceros (300 ceros en total)}

both_test.loc[both_test["probs"] > 0.5, 'y_pred'] = 1 # Se filtran datos para asignar 0 o 1 según el umbral 0.5

print ("\nPrueba de la Matriz de Confusión\n\n", pd.crosstab( both_test['Clase'],
both_test['y_pred'],rownames = ["Real"],colnames = ["Predicho"]))

print ("\nPrecisión de la prueba(Test Accuracy):", round(accuracy_score( both_test['Clase'],
both_test['y_pred']),4))